<div>
  <h1 ngClass="titulo">Lista de usuários</h1>
  <div *ngFor="let item of dadosusuarios; let i = index" id="usuarios">
    <div ngClass="letraBranca fundoAzul">
        <div><img ngClass="imagem" src="{{item.img}}" alt="Imagem Usuario" /> </div>
          <div ngClass="tamanho">
              <h4><span>Nome do Usuário: </span>{{item.name}}</h4>
              <p>ID: {{item.id}} - Username: {{item.username}}</p>
          </div>
          <div id="botaopagar">
            <button ngClass="botao" (click)="openDialog(item)">Pagar</button>
          </div>
    </div>

  </div>
</div>

<!-- <div *ngIf="!mostrarlista">
      <h1 ngClass='azul'>Pagamento para {{usuarioselecionado.name}}</h1>
      <form id="formulario">
        <mat-form-field id="itensformulario">
          <mat-label>Valor</mat-label>
          <input type="number" matInput placeholder="R$ 0,00">
        </mat-form-field>

        <div id="borda">
        <h2 >Cartão com final VariavelId</h2>
        </div>
      </form>
      <div>
      <button (click)="cancel()" ngClass="botao">Pagar</button>
      </div>
</div> -->
